{{>layout/header}}
{{>layout/nav}}
<div class="col-md-12 board">
    <!--목록 출력 -->
    <div class="container">
        <div class="row">
            {{#userName}}
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            </div>
            {{/userName}}
        </div>
        <br>
        <table class="table talbe-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th style="width:10%">게시글</th>
                <th style="width:70%">제목</th>
                <th style="width:10%">작성자</th>
                <th style="width:10%">최종 수정일</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#posts}}
                <tr>
                    <td style="width:10%">{{id}}</td>
                    <td style="width:70%"><a href="/posts/read/{{id}}">{{title}}</td>
                    <td style="width:10%">{{author}}</td>
                    <td style="width:10%">{{modifiedDate}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
        <div id="pagination">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="/board/1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" id="curPage" href="/{{curPage}}">{{curPage}}</a></li>
                    <div id="page">

                    </div>
                    <li class="page-item">
                        <a class="page-link" id="lastPage" href="/board/{{lastPage}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

{{>layout/footer}}