{{>layout/header}}
    {{>layout/nav}}
    <main class="index">
        <section class="visual">
            <div>
                <div class="slide">

                    안녕하세요
                    <div>
                        <p>변화와 도전을 멈추지 않는 개발자 박지효 입니다.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>


{{>layout/footer}}